<!DOCTYPE html>



    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>CSS-Only Responsive Layout with Smooth Transitions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="CSS-only Responsive Layout with Smooth Transitions" />
        <meta name="keywords" content="css3, transitions, animations, css-only, navigation, smooth scrolling, full width, full height, window width, window height" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="langage_Kotlin/assets/css/style.scss" />
	    <img src="langage_Kotlin/pCfEzr6L.png"/>
	    <style>
				
	    </style>
    </head>
    <body>
        <div class="container">
					
			<div class="st-container">
			
				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1"> Basics of languages</a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">Main standard libraries</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Major third-party libraries</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">Development tools</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">Learning Resources</a>
				
				<div class="st-scroll">
				
					<!-- Placeholder text from http://hipsteripsum.me/ -->
					
					<section class="st-panel" id="st-panel-1">
						<div class="st-deco" data-icon="B" ></div>
						<h2>Basics of languages</h2>
						<p>In July 2011, JetBrains unveiled Project Kotlin, a new language for the JVM, which had been under development for a year.[5] JetBrains lead Dmitry Jemerov said that most languages did not have the features they were looking for, with the exception of Scala. However, he cited the slow compilation time of Scala as a deficiency.[5] One of the stated goals of Kotlin is to compile as quickly as Java. In February 2012, JetBrains open sourced the project under the Apache 2 license.[6]

The name comes from Kotlin Island, near St. Petersburg. Andrey Breslav mentioned that the team decided to name it after an island just like Java was named after the Indonesian island of Java[7] (though the programming language Java was perhaps named after the coffee[8]).

JetBrains hopes that the new language will drive IntelliJ IDEA sales.[9]

Kotlin v1.0 was released on February 15, 2016.[10] This is considered to be the first officially stable release and JetBrains has committed to long-term backwards compatibility starting with this version.

At Google I/O 2017, Google announced first-class support for Kotlin on Android.[3]

Kotlin v1.2 was released on November 28, 2017.[11] Sharing code between JVM and Javascript platforms feature was newly added to this release.

Kotlin v1.3 was released on October 29, 2018, bringing coroutines for asynchronous programming.
							In July 2011, JetBrains unveiled Project Kotlin, a new language for the JVM, which had been under development for a year.[5] JetBrains lead Dmitry Jemerov said that most languages did not have the features they were looking for, with the exception of Scala. However, he cited the slow compilation time of Scala as a deficiency.[5] One of the stated goals of Kotlin is to compile as quickly as Java. In February 2012, JetBrains open sourced the project under the Apache 2 license.[6]

The name comes from Kotlin Island, near St. Petersburg. Andrey Breslav mentioned that the team decided to name it after an island just like Java was named after the Indonesian island of Java[7] (though the programming language Java was perhaps named after the coffee[8]).

JetBrains hopes that the new language will drive IntelliJ IDEA sales.[9]

Kotlin v1.0 was released on February 15, 2016.[10] This is considered to be the first officially stable release and JetBrains has committed to long-term backwards compatibility starting with this version.

At Google I/O 2017, Google announced first-class support for Kotlin on Android.[3]

Kotlin v1.2 was released on November 28, 2017.[11] Sharing code between JVM and Javascript platforms feature was newly added to this release.

Kotlin v1.3 was released on October 29, 2018, bringing coroutines for asynchronous programming.
</p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" data-icon="M"></div>
						<h2>Main standard libraries</h2>
						<p></p>
					</section>
					
					<section class="st-panel" id="st-panel-3">
						<div class="st-deco" data-icon="M"></div>
						<h2>Major third-party libraries</h2>
						<p></p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-deco" data-icon="D"></div>
						<h2>Development tools</h2>
						<p></p>
					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="L"></div>
						<h2>Learning Resources</h2>
					<p></p>
					</section>

				</div><!-- // st-scroll -->
				
			</div><!-- // st-container -->
			
        </div>
	</body>
</html>
