
<!DOCTYPE html>
 <html> 

    <head>
	<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>About Kotlin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="CSS-only Responsive Layout with Smooth Transitions" />
        <meta name="keywords" content="css3, transitions, animations, css-only, navigation, smooth scrolling, full width, full height, window width, window height" />
        <link rel="stylesheet" type="text/css" href="./assets/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
	   
    </head>
    <body>
        <div class="container">
					
			<div class="st-container">
			
				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1">Basic languages</a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">Main standard libraries</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Major third-party libraries</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">Development tools</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">Ressources d'apprentissage</a>
				
				<div class="st-scroll">
				
					<!-- Placeholder text from http://hipsteripsum.me/ -->
					
					<section class="st-panel" id="st-panel-1">
						<div class="st-deco" style = "overflow-y:scroll" data-icon="B"></div>
						<h2>Basic languages</h2>
						<p>
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesvBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
							Basic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languagesBasic languages
						</p>
					</section>
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" data-icon="M"></div>
						<h2> Main standard libraries</h2>
						<p>
							main standard libraries
							main standard libraries
							main standard libraries
							main standard libraries
							
						</p>
					</section>
					
					<section class="st-panel" id="st-panel-3">
						<div class="st-deco" data-icon="M"></div>
						<h2>Major third-party libraries</h2>
						<p>
							Major third-party libraries
							Major third-party libraries
							Major third-party libraries
							Major third-party libraries
							Major third-party libraries
						</p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-deco" data-icon="D"></div>
						<h2>Development tools</h2>
						<p>
							toolsDevelopment
							toolsDevelopment 
							toolsDevelopment
							toolsDevelopment 
							toolsDevelopment 
							toolsDevelopment
							toolsDevelopment 
							toolsDevelopment 
						</p>
					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="R"></div>
						<h2>Ressources d'apprentissage</h2>
						<p>
							Ressources d'apprentissage
							Ressources d'apprentissage
							Ressources d'apprentissage
						</p>
					</section>

				</div><!-- // st-scroll -->
				
			</div><!-- // st-container -->
			
        </div>
	</body>
</html>
